$main-background-color: rgb(252, 252, 231);
$secondary-background-color: #af0c00;
$variant-background-color: black;

$main-shadow-color: rgba(0, 0, 0, 0.6);
$secondary-shadow-color: rgba(0, 0, 0, 0.3);

$main-text-color: black;
$secondary-text-color: white;
$variant-text-color: white;

$main-border-color: black;

$main-box-shadow: 0 0 0.3rem 0.1rem $secondary-shadow-color;
